@import 'variables.scss';

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
  margin-top: 10px;
}

.about-button {
  transition: all .2s ease-in-out;
  align-self: center;
  &:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
  }
}

.open {
  width: 75px;
  height: 100%;
  object-fit: contain;
}

.close {
  width: 75px;
  height: 100%;
  object-fit: contain;
  display: none;
}

.about-modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  .aboutBuffer{
    height: 450px
  }
  .about-body {
    width: 35%;
    text-align: justify;
    font-weight: 200;
    color: $white-fade1;
    font-family: light;
    .sumSentence{
      font-weight: bold;
      font-size: 20px;
      color: white;
    }
  }
  .teamIntro{
    display: flex;
    font-size: 20px;
    width: 60%;
    justify-content: space-evenly;
    color: white;
    margin: 80px;
  }
  .team{
    display: flex;
    font-size: 12px;
    width: 60%;
    color: white;
    height:100%;
    flex-direction: row;
    justify-content: space-evenly;
    .team-row{
      display:flex;
      flex-direction: column;
      font-size: 10px;
      justify-content: space-evenly;
      height: 120px;
      text-align: center;
      img{
        display: block;
        width: 90px;
        height: 99px;
      }

    }
    .team-column{
      // flex-direction: column;
    }

  }

}
