@import 'variables.scss';



.disclaimer {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: $font-lg;
  margin-bottom: 100px;
  margin-right: 50px;
  .disclaimerText{
    margin-bottom: 30px;
    br {
       display: block;
       margin: -18px 0;
       content: "";
    }
  }
  .content-top {
    justify-content: center;
    margin-bottom: 10px;
    font-size: $font-sm;
  }
  .content-mid {
    // display: flex;
    justify-content: center;
    // align-self: center;
    width: 200px;
    // height: 10%;

    // margin-right: 44px;
    z-index: 3;
    font-size: 12px;
    // margin: 0 auto;
    .email-form-open{
      flex-direction:column;
    }
    .email-form {
      display: flex;
      .email-input {
        // width: 200px;
        height: 20px;
        padding: 10px;
        background: $white-fade2;
        font-size: $font-md;
        font-weight: 300;
        border: none;
        text-align: center;
        &::-webkit-input-placeholder {
          color: $white;
          &:focus {
            transition: opacity 0.5s 0.5s ease;
            opacity: 0;
          }
        }
      }
      .email-input-3 {
        color: lightgray;
        background: $grey-fade;
      }
      .hideSubmitForm {
        width: 150px;
        height: 100px;
        display: none;
      }
      .submit-icon-1 {
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
      .submit-icon-2 {
        height: 30px;
        width: 30px;
        align-self: flex-end;
        cursor: pointer;
      }
      .submitForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        // width: 150px;

        background-color: black;
        visibility: visible;
        margin-bottom:50px;
        .role-options-hidden{
          display: none;
        }
      }
      .submitFormWithOptions{
        height: 120px;
        width: 100%;
        .role-options {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          margin-top: 5px;
          .role-option {
            margin-right: 10px;
          }
        }
      }
    }
  }
}



.errors {
  font-weight: 300;
  font-size: 14px;
  color: white;
  text-align: center;
}

.hidden-button {
  height: 43px;
  width: 43px;
  visibility: hidden;
}

.button {
  height: 43px;
  width: 43px;
  visibility: visible;
}



// .email-input-1 {
//   margin-left: 40px;
// }
//
// .email-input-2 {
//   margin-left: 147px;
//   font-size: 20px;
// }
//
// .email-input-3 {
//   margin-left: 147px;
//   color: lightgray;
//   background: $grey-fade;
// }

// email-input needs 107 margin left additional after button is clicked
