/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables.scss';

html,
body {
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  color: $white;
}

#root {
  width: 100%;
  height: 100%;
  background-image: url('../assets/background-SmlResNoMargin.jpg'); //https://s3.amazonaws.com/genie-placeholder/background-SmlResNoMargin.jpg
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
  font-family: 'light';

  .opacity-layer-colorTeal{
    background-color: $brightTeal;
  }

  .opacity-layer-colorGrey{
    background-color: $greyTeal !important;
  }

  .opacity-layer {  //set up row structure
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    .dataDescrip {
      position: absolute;
      color: $brightTeal;
      font-size: $font-md;
      align-self: flex-start;
      span{
        color: $brightTeal;
      }
    }
    .mainColumnRight{
      width: 15%;
      align-self: flex-start;
      z-index:11;
      .top{
        display: none;
      }
    }
    .mainColumnCentral{
      align-self: center;
    }
    .mainColumn{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      height: 100%;
      .header-main{
        font-size: $font-vlg;
      }
      .subdescription{
        text-align:center;
        flex-direction: row;
        display: flex;
        // color: #e6e6e6;
      }
      .header-cont {
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-lg;
        .header-main{
          display: flex;
          flex-direction: row;
          .logo {
            object-fit: contain;
            width: 100px;
            height: 106px;
            z-index: 11;
          }
        }
        .header-sub {
          opacity: 0.75;
          font-size: $font-md;
          font-weight: 200;
          margin-top: -16px;
        }
      }

    }
  }
  .city-points {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 2;
  }
}


.profileDescriptions{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  width: 15%;
  align-self: flex-start;
  z-index:11;
  color: white;
  margin: 20px;
}
