// Colors
$brightTeal: rgba(40, 142, 139, 0.9);
$white: rgb(255, 255, 255);
$white-fade1: rgba(255, 255, 255, 0.7);
$white-fade2: rgba(255, 255, 255, 0.4);
$grey-fade: rgba(128, 128, 128, 0.7);

// Fonts
$font-sm: 11.5px;
$font-md: 18.5px;
$font-lg: 30px;
$font-vlg: 50px;

@font-face {
  font-family: "light";
  src: url("fonts/KozGoPr6N-ExtraLight.otf");
}
